include ../modules/_head.jade
body.pages-confirmation-page
  include ../modules/_disclaimer.jade
  section.message
    .usa-grid
      h1 Your Inquiry Has Been Received
      p
        | Thank you for your inquiry. The Clean Energy Investment Center at the
        | Department of Energy together with the Labs will respond to you as
        | soon as possible.
      p
        | Thank you for using the Partnering Service!
      p
        a(class="usa-button" href="#{base_url}")
          i.fa.fa-reply
          | Back

