.usa-disclaimer
  .usa-grid
    img(src="#{base_url}assets/img/us_flag_small.png")
    span.usa-disclaimer-official
      | Official website of the United States Government
    span.beta
      | This site is currently in beta.
      a(href="https://18f.gsa.gov/dashboard/stages/#beta" target="_blank") Learn More.
