footer.app-footer
  .usa-grid
    ul.logos
      li
        a(href="https://pif.gov" target="_blank")
          img(src="assets/img/logos/pif.png")
      li
        a(href="http://gsa.gov" target="_blank")
          img(src="assets/img/logos/gsa.png")
