.site-nav {
  font-size: 0.9em;
  margin-top: 1em;

  a {
    color: $color-gray;
  }

  li {
    display: inline-block;
    margin: 0 1em 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  ul {
    font-family: $header-font;
    margin: 0;
  }
}
