.form-modal
  .form-content
    form#form1.wufoo.topLabel.page(name='form1', accept-charset='UTF-8', autocomplete='off', enctype='multipart/form-data', method='post', novalidate='', action='https://piftest.wufoo.com/forms/z17wiku60j3sujm/#public')
      header#header.info
          h2 Other Questions
          p
            | If you have other questions or inquiries about the Department
            | of Energy’s Clean Energy portfolio, let us know how we can
            | help you.
        ul
          li#foli1.notranslate
            label#title1.desc.hide(for='Field1')
              | Name
            span
              label(for='Field1') First
              input#Field1.field.text.fn(name='Field1', type='text', value='', size='8', tabindex='1')
            span
              label(for='Field2') Last
              input#Field2.field.text.ln(name='Field2', type='text', value='', size='14', tabindex='2')
          li#foli3.notranslate
            label#title3.desc(for='Field3')
              | Email
            div
              input#Field3.field.text.medium(name='Field3', type='email', spellcheck='false', value='', maxlength='255', tabindex='3')
          li#foli4.notranslate
            label#title4.desc(for='Field4')
              | Company
            div
              input#Field4.field.text.medium(name='Field4', type='text', value='', maxlength='255', tabindex='4', onkeyup='')
          li#foli11.notranslate
            label#title11.desc(for='Field11')
              | Lab
            div
              select#Field11.field.select.medium(name='Field11', tabindex='5', onChange='ceic.formTriggers.repeatValue(this)')
                option(value='National Renewable Energy Lab')
                  | National Renewable Energy Lab
                option(value='Brookhaven National Labs')
                  | Brookhaven National Labs
                option(value='Lawrence Berkeley')
                  | Lawrence Berkeley
                option(value='Pacific Northwest')
                  | Pacific Northwest
                option(value='National Renewable Energy Lab')
                  | National Renewable Energy Lab
                option(value='Oakridge')
                  | Oakridge
                option(value='None/Other', selected='selected')
                  | None/Other
          li#foli12.notranslate
            label#title12.desc(for='Field12')
              | Ask your Question
            div
              textarea#Field12.field.textarea.medium(name='Field12', spellcheck='true', rows='10', cols='50', tabindex='6', onkeyup='')
          li#foli14.notranslate.hide
            label#title14.desc(for='Field14')
              | isPending
            div
              input#Field14.field.text.medium(name='Field14', type='text', value='isPending', maxlength='255', tabindex='7', onkeyup='')
          li#foli16.notranslate.hide
            label#title16.desc(for='Field16')
              | tags
            div
              input#Field16.field.text.medium(name='Field16', type='text', value='Other Questions', maxlength='255', tabindex='8', onkeyup='')
          li#foli18.notranslate.hide
            label#title18.desc(for='Field18')
              | Source
            div
              input#Field18.field.text.medium(name='Field18', type='text', value='', maxlength='255', tabindex='9', onkeyup='')
          li.buttons
            div
              input#saveForm.btTxt.submit(name='saveForm', type='submit', value='Submit')
          li.hide
            label(for='comment') Do Not Fill This Out
            textarea#comment(name='comment', rows='1', cols='1')
            input#idstamp(type='hidden', name='idstamp', value='lOuH9FrvZrH6eceIwmvJ7xJ+1tOOe5F+y8idH5klz/o=')
