.form-modal
  .form-content
    form#form4.wufoo.topLabel.page(name='form4', accept-charset='UTF-8', autocomplete='off', enctype='multipart/form-data', method='post', novalidate='', action='https://piftest.wufoo.com/forms/rlotm2w1j4uqex/#public')
      header#header.info
        h2 Partner with a Lab
        p
          | If you want to understand what capabilities our labs have to use
          | them for your research or partner with a lab on scientific
          | discovery, let us know what you are looking to explore.
      ul
        li#foli1.notranslate
          label#title1.desc.hide(for='Field1')
            | Name
          span
            label(for='Field1') First
            input#Field1.field.text.fn(name='Field1', type='text', value='', size='8', tabindex='1')
          span
            label(for='Field2') Last
            input#Field2.field.text.ln(name='Field2', type='text', value='', size='14', tabindex='2')
        li#foli4.notranslate
          label#title4.desc(for='Field4')
            | Email
          div
            input#Field4.field.text.medium(name='Field4', type='email', spellcheck='false', value='', maxlength='255', tabindex='3')
        li#foli3.notranslate
          label#title3.desc(for='Field3')
            | Company
          div
            input#Field3.field.text.medium(name='Field3', type='text', value='', maxlength='255', tabindex='4', onkeyup='')
        li#foli6.notranslate
          label#title6.desc(for='Field6')
            | Industry
          div
            select#Field6.field.select.medium(name='Field6', tabindex='5')
              option(value='Damage Resistance', selected='selected')
                | Damage Resistance
              option(value='Materials Characterization')
                | Materials Characterization
              option(value='Membranes')
                | Membranes
              option(value='Semiconductors')
                | Semiconductors
              option(value='Structural Materials')
                | Structural Materials
              option(value='Superconductors')
                | Superconductors
              option(value='Biofuels')
                | Biofuels
              option(value='Carbon Capture & Storage')
                | Carbon Capture &amp; Storage
              option(value='Atmosphere/Climate')
                | Atmosphere/Climate
              option(value='Geophysics and Seismology')
                | Geophysics and Seismology
              option(value='Water Resource Management')
                | Water Resource Management
              option(value='Advanced Manufacturing')
                | Advanced Manufacturing
              option(value='Buildings')
                | Buildings
              option(value='Light Water Reactors')
                | Light Water Reactors
              option(value='Reactor Fuels')
                | Reactor Fuels
              option(value='Small Modular Reactors')
                | Small Modular Reactors
              option(value='Grid Architecture')
                | Grid Architecture
              option(value='Energy Storage')
                | Energy Storage
              option(value='Renewable Energy Integration')
                | Renewable Energy Integration
              option(value='Sensors & System Control')
                | Sensors &amp; System Control
              option(value='Transmission & Distribution Components')
                | Transmission &amp; Distribution Components
              option(value='Transformers')
                | Transformers
              option(value='Biopower')
                | Biopower
              option(value='Solar')
                | Solar
              option(value='Geothermal')
                | Geothermal
              option(value='Hydro')
                | Hydro
              option(value='Marine Hydrokinetic')
                | Marine Hydrokinetic
              option(value='Stationary Fuel Cells')
                | Stationary Fuel Cells
              option(value='Wind')
                | Wind
              option(value='Aerodynamics')
                | Aerodynamics
              option(value='Batteries')
                | Batteries
              option(value='Engines')
                | Engines
              option(value='Sensors, Systems & Controls')
                | Sensors, Systems &amp; Controls
              option(value='Heating & Cooling')
                | Heating &amp; Cooling
              option(value='Vehicle Lightweighting')
                | Vehicle Lightweighting
        li#foli7.notranslate
          label#title7.desc(for='Field7')
            | Description of Interest
          div
            textarea#Field7.field.textarea.medium(name='Field7', spellcheck='true', rows='10', cols='50', tabindex='6', onkeyup='')
          li#foli9.notranslate.hide
            label#title9.desc(for='Field9')
              | isPending
            div
              input#Field9.field.text.medium(name='Field9', type='text', value='isPending', maxlength='255', tabindex='7', onkeyup='')
          li#foli11.notranslate.hide
            label#title11.desc(for='Field11')
              | tags
            div
              input#Field11.field.text.medium(name='Field11', type='text', value='Partner with Lab', maxlength='255', tabindex='8', onkeyup='')
        li.buttons
          div
            input#saveForm.btTxt.submit(name='saveForm', type='submit', value='Submit')
        li.hide
          label(for='comment') Do Not Fill This Out
          textarea#comment(name='comment', rows='1', cols='1')
          input#idstamp(type='hidden', name='idstamp', value='AnK43sAGhmHot2RtA5EsLz1zjBTTVnvJnbGF30GkeXI=')
