doctype html
html.no-js(lang='en')
  include ../modules/_head.jade
  body.pages-about
    include ../modules/_disclaimer.jade
    include ../modules/_nav.jade
    section.about-content.usa-grid
      header
        h1 Lab Partnering Service: Additional Information
      p
        | The Lab Partnering Service offers resources, including information and
        | assistance, on clean energy technologies.
      h2
        | What We Offer
      ul
        li
          h3 Connect with an Expert Service
          p
            | Our Connect with an Expert service provides a free information
            | resource on clean energy technologies through experts at DOE
            | National Laboratories.
        li
          h3 Partner with a Lab
          p
            | Our Partner with a Lab feature provides a service to connect to
            | the Technology Transfer offices at the DOE National Laboratories.
            | Features offered include Licensing Intellectual Property,
            | Accessing User Facilities, Exploring Partnering Mechanisms, and
            | Learning More about a Laboratory.
    section.about-content.usa-grid
      header
        h1 U.S. Department of Energy Clean Energy Investment Center
      p
        | The U.S. Department of Energy in January 2016 established the Clean
        | Energy Investment Center. The center’s mission is to advance private,
        | mission-oriented investment in clean energy technologies that address
        | the present gap in U.S. clean tech investment. It will also enhance
        | the availability of the Department’s resources to investors and the
        | public.
      p
        | Financing and partnerships are crucial components for the acceleration
        | and success this initiative, and that is why we welcome the addition
        | of any interested collaborators. Specifically, mission-driven
        | investors— such as foundations, university endowments, and
        | institutional investors— can play an important role in providing an
        | additional source of capital for the transition to a low-carbon
        | economy.
      h2 CEIC Offerings
      ul
        li
          h3 Single Point of Access for Information
          p
            | The center will ensure information about DOE programs is more
            | understandable and accessible. It will also serve as a one-stop
            | for the investors to locate subject matter experts, acquire the
            | latest reports and data on clean energy technology, and find a
            | listing of companies and projects funded by the agency. This
            | information will enable investors to make informed decisions that
            | is based on DOE’s research and analysis.
          h3 Technical Assistance
          p
            | The center will share research and analysis produced by DOE and
            | its 17 national laboratories on relevant developments in clean
            | energy technology. Furthermore, the center will offer a mechanism
            | for identifying the need for new technology analysis from DOE.
          h3 Information on Early-Stage Projects and Companies
          p
            | DOE currently has programs including the Advanced Research
            | Projects Agency-Energy (ARPA-E), Small Business Innovation
            | Research (SBIR), Small Business Technology Transfer (STTR), and
            | others that help to fund and accelerate emerging early-stage
            | technology projects and companies. The center will aggregate and
            | make available public information on entities currently engaged in
            | partnerships with DOE.
          h3 Connections to Additional Relevant U.S. Government Programs
          p
            | The center will include information about energy and climate
            | programs at other government agencies including the U.S.
            | Department of Agriculture, U.S. Department of Housing and Urban
            | Development, U.S. Department of Transportation, U.S. Department of
            | Treasury, U.S. Environmental Protection Agency, U.S. Small
            | Business Administration and the National Science Foundation.
      a(href="#{base_url}" class="usa-button") Back

