//Colors
$color-primary: #23CF5F;
$color-blue-green: #1C907F;
$color-gray-tan: #eee7e1;
$color-tan-light: #FCFAF7;

//Fonts
$header-font: "Quicksand";


//Site-wide Variables
$background-color: #f9f9f9;

//Grid Settings
$extra-large-screen: 1400px;

