a {
  color: $color-primary;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: darken($color-primary, 10);
  }
}

body {
  background: $background-color;
  position: relative;

  &.no-scroll {
    overflow: hidden;
  }
}

form {
  max-width: none;

  input {
    max-width: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

li {
  display: block;

  &.hide {
    display: none;
  }
}

ul {
  display: block;
}
