.faq {
  background-color: $color-tan-light;
  padding: 6em 0;

  h1 {
    font-weight: normal;
    margin: 0 0 1em;
    text-align: center;
  }

  h2 {
    color: darken($color-primary, 10);
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 0;
  }

  ol {
    margin: 0;
  }

  p {
    font-weight: 100;
    margin-top: 0;
  }

  .usa-grid {
    max-width: 50em;
  }
}

.form-content {
  height: 100%;
  overflow: scroll;
  padding: 0 1em;
}

.form-modal {
  @extend %card;
  @include transition(all 0.2s ease);
  background-color: $color-tan-light;
  border-radius: 0.25em;
  bottom: 10%;
  left: 50%;
  margin-left: -20em;
  opacity: 0;
  padding: 1.5em;
  position: fixed;
  top: 10%;
  visibility: hidden;
  width: 40em;
  z-index: 1000;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  [type="submit"] {
    background-color: $color-blue-green;
    padding: 0.75em 1.5em;
  }

  h2 {
    color: $color-blue-green;
    font-family: $header-font;
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: -0.05em;
    margin-top: 0;
  }

  header {
    text-align: center;
  }

  input {
    &[type="email"],
    &[type="text"] {
      background-color: lighten($color-gray-tan, 1);
      border: none;
      border-radius: 0.25em;
      color: darken($color-gray, 2);

      &:focus {
        box-shadow: 0 0 2px darken($color-primary, 10);
      }
    }
  }

  label {
    color: $color-gray;
    font-size: 0.9em;

    &[for="Field1"],
    &[for="Field2"] {
      &::after {
        content: " Name"
      }
    }
  }

  p {
    color: $color-gray;
    font-size: 0.9em;
  }

  select {
    background-color: lighten($color-gray-tan, 1);
    border: none;
    color: darken($color-gray, 2);

    &:focus {
      box-shadow: 0 0 2px darken($color-primary, 10);
    }
  }

  textarea {
    background-color: lighten($color-gray-tan, 1);
    border: none;
    border-radius: 0.25em;
    color: darken($color-gray, 2);
    max-width: none;

    &:focus {
      box-shadow: 0 0 2px darken($color-primary, 10);
    }
  }

  .hide {
    display: none;
  }

  .instruct {
    margin-top: 0.25em;
  }
}

.forms {
  position: relative;
}

.hero-art {
  opacity: 0.25;
  position: absolute;
  right: 5em;
  top: 0;
  width: 350px;

  img {
    height: auto;
    width: 100%;
  }
}

.how-icon {
  background-color: darken($color-primary, 5);
  border-radius: 0.25em;
  height: 2.5em;
  margin: 0 auto;
  padding: 0.4em 0;
  text-align: center;
  width: 2.5em;

  i {
    color: lighten($color-primary, 35);
    font-size: 1.5em;
  }
}

.how-listitem {
  @include span-columns(4);

  &:nth-child(2n) {
    .icon {
      padding: 0.5em;
    }
  }
}

.overview {
  background-color: $color-gray;
  padding: 8em 0;

  h1 {
    color: $color-white;
    font-family: $header-font;
    font-size: 2.25em;
    font-weight: normal;
    margin-top: 0;
    text-align: center;
  }

  h2 {
    color: $color-white;
    font-size: 1.2em;
    margin: 0.5em 0 0;
    text-align: center;
  }

  p {
    color: darken($color-white, 20);
    font-size: 0.9em;
    font-weight: 100;
    text-align: center;
  }

  ul {
    display: block;
    margin: -2em auto 0;
    max-width: 50em;
  }

  .process-line {
    border-top: 4px solid lighten($color-gray, 10);
    margin: 5em auto 0;
    max-width: 36em;
    width: 70%;
  }
}

.pages-index {

  a {
    color: $color-primary;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: darken($color-primary, 10);
    }
  }

  li {
    display: block;

    &.hide {
      display: none;
    }
  }

  ul {
    display: block;
  }
}

.site-hero {
  background-color: $color-white;
  height: 550px;
  position: relative;

  @include media($extra-large-screen) {
    height: 800px;
  }

  a {
    color: darken($color-primary, 5);
    font-family: $header-font;
    font-weight: bold;
  }

  h1,
  h2 {
    font-family: $header-font;
    font-weight: normal;
    letter-spacing: 0em;
  }

  h1 {
    font-size: 3em;
    line-height: 0.95em;
    margin: 0.1em 0 0;

    @include media($extra-large-screen) {
      font-size: 4em;
    }
  }

  h2 {
    display: inline-block;
    font-size: 1.25em;
    margin: 0 0 0.25em;

    @include media($extra-large-screen) {
      font-size: 2em;
    }
  }

  header {
    padding-top: 7em;

    @include media($extra-large-screen) {
      padding-top: 16em;
    }
  }

  i {
    color: $color-white;
    font-size: 1.5em;
  }

  li {
    background-color: rgba($color-white, 0.15);
    display: inline-block;
    font-size: 1.1em;
    margin-right: 1em;

    &:hover {
      background-color: rgba($color-white, 0.25);
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      display: inline-block;
    }
  }

  p {
    color: $color-gray;
    font-weight: 100;
    margin-top: 0.75em;
    max-width: 30em;
  }

  ul {
    display: block;
    width: 100%;
  }

  .down-arrow {
    background-color: $color-gray;
    border-radius: 50%;
    bottom: -2em;
    height: 4em;
    left: 50%;
    line-height: 4em;
    margin-left: -2em;
    padding-top: 0.2em;
    position: absolute;
    text-align: center;
    vertical-align: center;
    width: 4em;
  }

  .label {
    font-family: $header-font;
    font-size: 1.4em;
    font-weight: normal;
  }

  .usa-grid {
    position: relative;
  }
}

.overlay {
  @include transition(all 0.2s ease);
  background-color: $color-gray;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 100;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
