.faq {
  background-color: $color-tan-light;
  padding: 6em 0;

  h1 {
    font-weight: normal;
    margin: 0 0 1em;
    text-align: center;
  }

  h2 {
    color: darken($color-primary, 10);
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 0;
  }

  ol {
    margin: 0;
  }

  p {
    font-weight: 100;
    margin-top: 0;
  }

  .usa-grid {
    max-width: 50em;
  }
}

.form-content {
  height: 100%;
  overflow: scroll;
  padding: 0 1em;
}

.form-modal {
  @extend %card;
  @include transition(all 0.2s ease);
  background-color: $color-tan-light;
  border-radius: 0.25em;
  cursor: default;
  left: 0.5em;
  opacity: 0;
  padding: 2em 1em;
  position: absolute;
  right: 0.5em;
  top: 5%;
  visibility: hidden;
  z-index: 1000;

  @include media($medium-screen) {
    left: 50%;
    margin-left: -20em;
    padding: 2em;
    right: auto;
    width: 40em;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  [type="submit"] {
    background-color: $color-blue-green;
    padding: 0.75em 1.5em;
  }

  h2 {
    color: darken($color-primary, 10);
    font-family: $header-font;
    font-size: 2.1em;
    font-weight: normal;
    letter-spacing: -0.05em;
    line-height: 1em;
    margin-top: 0;

    @include media($medium-screen) {
      font-size: 2.5em;
    }
  }

  header {
    text-align: center;
  }

  input {
    &[type="email"],
    &[type="text"] {
      background-color: lighten($color-gray-tan, 1);
      border: none;
      border-radius: 0.25em;
      color: darken($color-gray, 2);
      max-width: none;

      &:focus {
        box-shadow: 0 0 2px darken($color-primary, 10);
      }

      &.parsley-error {
        border: 1px solid $color-secondary;
        box-shadow: 0 0 2px $color-secondary;
      }
    }
  }

  label {
    color: $color-gray;
    font-size: 0.9em;
    margin-top: 1em;

    &[for="Field1"],
    &[for="Field2"] {
      &::after {
        content: " Name"
      }
    }
  }

  li {
    margin: 0;
  }

  p {
    color: $color-gray;
    font-size: 0.9em;
  }

  select {
    background-color: lighten($color-gray-tan, 1);
    border: none;
    color: darken($color-gray, 2);

    &:focus {
      box-shadow: 0 0 2px darken($color-primary, 10);
    }

    &.parsley-error {
      border: 1px solid $color-secondary;
      box-shadow: 0 0 2px $color-secondary;
    }
  }

  ul {
    margin-top: 1em;

    &.parsley-errors-list {
      margin-top: 0.4em;
    }
  }

  textarea {
    background-color: lighten($color-gray-tan, 1);
    border: none;
    border-radius: 0.25em;
    color: darken($color-gray, 2);
    max-width: none;

    &:focus {
      box-shadow: 0 0 2px darken($color-primary, 10);
    }

    &.parsley-error {
      border: 1px solid $color-secondary;
      box-shadow: 0 0 2px $color-secondary;
    }
  }

  .close {
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 0.5em;

    span {
      color: $color-gray;
      font-size: 1.3em;
      font-weight: bold;
      line-height: 1.3em;
    }
  }

  .hide {
    display: none;
  }

  .instruct {
    margin-top: 0.25em;
  }
}

.form-trigger {

  &:hover {
    text-decoration: none;
  }
}

.hero-container {
  box-sizing: border-box;

  @include media(875px) {
    background: url("../../assets/img/patent-art.png") no-repeat;
    background-position: 98% center;
    background-size: 350px 450px;
  }
}

.how-icon {
  background-color: darken($color-primary, 5);
  border-radius: 0.25em;
  display: none;
  height: 2.5em;
  padding: 0.4em 0;
  text-align: center;
  width: 2.5em;

  @include media($medium-screen) {
    display: inline-block;
  }

  i {
    color: lighten($color-primary, 35);
    font-size: 1.5em;
  }
}

.how-listitem {

  @include media($medium-screen) {
    @include span-columns(4);
  }

  &:nth-child(2n) {
    .icon {
      padding: 0.5em;
    }
  }
}

.overview {
  background-color: $color-gray;
  padding: 4em 0;

  @include media($medium-screen) {
    padding: 8em 0;
    text-align: center;
  }

  h1 {
    color: $color-white;
    font-family: $header-font;
    font-size: 2.25em;
    font-weight: normal;
    margin: 0 0 1em;

    @include media($medium-screen) {
      margin: 0;
    }
  }

  h2 {
    color: $color-white;
    font-size: 1.2em;
    margin: 0.5em 0 0;
  }

  p {
    color: darken($color-white, 20);
    font-size: 0.9em;
    font-weight: 100;
    margin-top: 0;

    @include media($medium-screen) {
      margin-top: 1em;
    }
  }

  ul {
    display: block;
    margin: -2em auto 0;
    max-width: 50em;
  }

  .process-line {
    border-top: 4px solid lighten($color-gray, 10);
    display: none;
    margin: 5em auto 0;
    max-width: 36em;
    width: 70%;

    @include media($medium-screen) {
      display: block;
    }
  }
}

.parsley-errors-list {
  color: $color-gray;
  font-size: 0.8em;
  margin: 0;
}


.site-hero {
  position: relative;

  a {
    background-color: darken($color-primary, 7);
    border-radius: 0.2em;
    color: $color-white;
    font-family: $header-font;
    font-weight: bold;
    padding: 0.75em;

    &:hover {
      background-color: darken($color-primary, 15);
      color: $color-white;
    }
  }

  h1,
  h2 {
    font-family: $header-font;
    font-weight: normal;
    letter-spacing: 0em;
  }

  h1 {
    font-size: 3em;
    line-height: 0.95em;
    margin: 0.1em 0 0;

    @include media($extra-large-screen) {
      font-size: 4em;
    }
  }

  h2 {
    display: inline-block;
    font-size: 1.25em;
    margin: 0 0 0.25em;

    @include media($extra-large-screen) {
      font-size: 2em;
    }
  }

  .hero-header {
    padding: 4em 0 2em;

    @include media($medium-screen) {
      padding: 5em 0;
    }

    @include media($extra-large-screen) {
      padding: 14em 0 8em;
    }
  }

  i {
    color: $color-white;
    font-size: 1.5em;
  }

  li {
    display: inline-block;
    font-size: 1em;
    margin-right: 1em;

    &:hover {
      background-color: rgba($color-white, 0.25);
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      display: inline-block;
    }
  }

  p {
    color: $color-gray;
    font-weight: 100;
    margin-top: 0.75em;
    max-width: 30em;
  }

  ul {
    display: block;
    width: 100%;
  }

  .down-arrow {
    background-color: $color-gray;
    border-radius: 50%;
    bottom: -2em;
    height: 4em;
    left: 50%;
    line-height: 4em;
    margin-left: -2em;
    padding-top: 0.2em;
    position: absolute;
    text-align: center;
    vertical-align: center;
    width: 4em;
  }

  .label {
    font-family: $header-font;
    font-size: 1.4em;
    font-weight: normal;
  }

  .usa-grid {
    position: relative;
  }
}

.overlay {
  @include transition(all 0.2s ease);
  background-color: $color-gray;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 100;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.scroll {
  height: 100%;
  overflow: scroll;
  position: relative;
}
