include modules/_head.jade
body.pages-index
  section.usa-grid
    .usa-width-two-thirds
      h1 Welcome to Static-gen!
      p To get started, you can edit the contents of this file in the 
        code
          | /src
        |  directory.
      p To add sub-pages without having 
        code
          | .html
        |  trailing in the url, create a directory for each new page and add
        | a 
        code
          | index.html
        |  file to each directory.
      p
        | Static-gen supports for partials. You can place Partials in
        | the 
        code
          | /src/modules
        |  directory, and add them like so: 
        code
          | include modules/_head.jade
        | . Be sure to prepend each file name with 
        code
          | _
        |  to ensure they are recognized as partials.
      p
        | For custom page styles, we prefer to add them to the pages directory
        | located in 
        code
          | /src/assets/_scss/pages
        | .
      p Be sure to import each new SASS file in the 
        code
          | /src/assets/css/main.scss
        |  file.
      p
        | For more information on the Draft U.S. Web Design Standards, visit 
        a(href="https://playbook.cio.gov/designstandards/", target="_blank")
          | their website
        | .
      p Happy coding!


form#form3.wufoo.topLabel.page(name='form3', accept-charset='UTF-8', autocomplete='off', enctype='multipart/form-data', method='post', novalidate='', action='https://piftest.wufoo.com/forms/q1vgd3kh1jenfsk/#public')
    header#header.info
        h2 Speak to a Scientist
        div
          | 1. Description of the value prop
          br
          | 2. Disclaimer / Legal language
      ul
        li#foli1.notranslate
          label#title1.desc(for='Field1')
            | Name
          span
            label(for='Field1') First
            input#Field1.field.text.fn(name='Field1', type='text', value='', size='8', tabindex='1')
          span
            label(for='Field2') Last
            input#Field2.field.text.ln(name='Field2', type='text', value='', size='14', tabindex='2')
        li#foli3.notranslate
          label#title3.desc(for='Field3')
            | Email
          div
            input#Field3.field.text.medium(name='Field3', type='email', spellcheck='false', value='', maxlength='255', tabindex='3')
        li#foli4.notranslate
          label#title4.desc(for='Field4')
            | Firm Name
          div
            input#Field4.field.text.medium(name='Field4', type='text', value='', maxlength='255', tabindex='4', onkeyup='')
        li#foli6.notranslate
          label#title6.desc(for='Field6')
            | Industry
          div
            select#Field6.field.select.medium(name='Field6', tabindex='5')
              option(value='Solar', selected='selected')
                | Solar
              option(value='Biofuels')
                | Biofuels
              option(value='Battery Storage')
                | Battery Storage
              option(value='Wind')
                | Wind
              option(value='Water')
                | Water
              option(value='Nuclear')
                | Nuclear
          p#instruct6.instruct
            small Used to route your inquiry to a particular lab
        li#foli7.notranslate
          label#title7.desc(for='Field7')
            | Other Notes
          div
            textarea#Field7.field.textarea.medium(name='Field7', spellcheck='true', rows='10', cols='50', tabindex='6', onkeyup='')
        |  
        li.buttons
          div
            input#saveForm.btTxt.submit(name='saveForm', type='submit', value='Submit')
        li.hide
          label(for='comment') Do Not Fill This Out
          textarea#comment(name='comment', rows='1', cols='1')
          input#idstamp(type='hidden', name='idstamp', value='t+AH+0o6hLD1l5QUK3iBRpxr9FVUNGig2sycE4IgTq4=')


form#form4.wufoo.topLabel.page(name='form4', accept-charset='UTF-8', autocomplete='off', enctype='multipart/form-data', method='post', novalidate='', action='https://piftest.wufoo.com/forms/rlotm2w1j4uqex/#public')
    header#header.info
        h2 Partner with a lab
        div 1. Description of the value prop
      ul
        li#foli1.notranslate
          label#title1.desc(for='Field1')
            | Name
          span
            label(for='Field1') First
            input#Field1.field.text.fn(name='Field1', type='text', value='', size='8', tabindex='1')
          span
            label(for='Field2') Last
            input#Field2.field.text.ln(name='Field2', type='text', value='', size='14', tabindex='2')
        li#foli4.notranslate
          label#title4.desc(for='Field4')
            | Email
          div
            input#Field4.field.text.medium(name='Field4', type='email', spellcheck='false', value='', maxlength='255', tabindex='3')
        li#foli3.notranslate
          label#title3.desc(for='Field3')
            | Company
          div
            input#Field3.field.text.medium(name='Field3', type='text', value='', maxlength='255', tabindex='4', onkeyup='')
        li#foli6.notranslate
          label#title6.desc(for='Field6')
            | Industry
          div
            select#Field6.field.select.medium(name='Field6', tabindex='5')
              option(value='Biofuels', selected='selected')
                | Biofuels
              option(value='Solar')
                | Solar
              option(value='Battery Storage')
                | Battery Storage
              option(value='Wind')
                | Wind
              option(value='Water')
                | Water
              option(value='Nuclear')
                | Nuclear
        li#foli7.notranslate
          label#title7.desc(for='Field7')
            | Description of Interest
          div
            textarea#Field7.field.textarea.medium(name='Field7', spellcheck='true', rows='10', cols='50', tabindex='6', onkeyup='')
        |  
        li.buttons
          div
            input#saveForm.btTxt.submit(name='saveForm', type='submit', value='Submit')
        li.hide
          label(for='comment') Do Not Fill This Out
          textarea#comment(name='comment', rows='1', cols='1')
          input#idstamp(type='hidden', name='idstamp', value='AnK43sAGhmHot2RtA5EsLz1zjBTTVnvJnbGF30GkeXI=')


form#form1.wufoo.topLabel.page(name='form1', accept-charset='UTF-8', autocomplete='off', enctype='multipart/form-data', method='post', novalidate='', action='https://piftest.wufoo.com/forms/z17wiku60j3sujm/#public')
    header#header.info
        h2 Other Questions
        div 1. Description of value prop
      ul
        li#foli1.notranslate
          label#title1.desc(for='Field1')
            | Name
          span
            label(for='Field1') First
            input#Field1.field.text.fn(name='Field1', type='text', value='', size='8', tabindex='1')
          span
            label(for='Field2') Last
            input#Field2.field.text.ln(name='Field2', type='text', value='', size='14', tabindex='2')
        li#foli3.notranslate
          label#title3.desc(for='Field3')
            | Email
          div
            input#Field3.field.text.medium(name='Field3', type='email', spellcheck='false', value='', maxlength='255', tabindex='3')
        li#foli4.notranslate
          label#title4.desc(for='Field4')
            | Company
          div
            input#Field4.field.text.medium(name='Field4', type='text', value='', maxlength='255', tabindex='4', onkeyup='')
        li#foli11.notranslate
          label#title11.desc(for='Field11')
            | Lab
          div
            select#Field11.field.select.medium(name='Field11', tabindex='5')
              option(value='NRAL', selected='selected')
                | NRAL
              option(value='EERE')
                | EERE
              option(value='SANDEE')
                | SANDEE
              option(value='ONRL')
                | ONRL
        li#foli12.notranslate
          label#title12.desc(for='Field12')
            | Description of Inquiry
          div
            textarea#Field12.field.textarea.medium(name='Field12', spellcheck='true', rows='10', cols='50', tabindex='6', onkeyup='')
        |  
        li.buttons
          div
            input#saveForm.btTxt.submit(name='saveForm', type='submit', value='Submit')
        li.hide
          label(for='comment') Do Not Fill This Out
          textarea#comment(name='comment', rows='1', cols='1')
          input#idstamp(type='hidden', name='idstamp', value='lOuH9FrvZrH6eceIwmvJ7xJ+1tOOe5F+y8idH5klz/o=')

