include modules/_head.jade
body.pages-index
  include modules/_disclaimer.jade
  section.site-hero
    .usa-grid
      header
        span.label Welcome to the
        h1 CEIC Partnering
          br
          | Service
        p
          | Connecting you with experts and resources on clean energy
          | technologies at the Department of Energy.
        ul.form-triggers
          li
            a(class="form-trigger" href="#" data-form-id="form3") Connect with a Scientist
          li
            a(class="form-trigger" href="#" data-form-id="form4") Partner with a Lab
          li
            a(class="form-trigger" href="#" data-form-id="form1") Ask a Question
    .hero-art
      img(src="assets/img/hero-art-bw-alt.png")
    .down-arrow
      i.fa.fa-arrow-down

  section.overview
    .usa-grid
      header
        h1 How it Works
      .process-line
      ul.process
        li.how-listitem
          .how-icon
            i.fa.fa-comment
          h2 Send a Message
          p Fill out one of the three forms above to send us a message.
        li.how-listitem
          .how-icon
            i.fa.fa-code-fork
          h2 Find an Expert
          p Our tech transfer officers route your inquiry to the relevant experts.
        li.how-listitem
          .how-icon
            i.fa.fa-comments
          h2 Connect
          p Once an expert is found, they'll reach out with answers to your questions.

  section.usa-grid.forms
    include forms/_scientist_form.jade
    include forms/_partner_form.jade
    include forms/_general_form.jade
  .overlay

